# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
build
.gradle
.idea
out
*.iml
*.ipr
*.iws
.DS_Store
.idea/workspace.xml
node_modules