# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
build
.gradle
.idea
out
*.iml
*.ipr
*.iws
*.log
.shelf
.DS_Store
/node_modules
bower_components
.idea/workspace.xml
