# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.gradle/
.idea/workspace.xml
football-prototype.iml
football-prototype.ipr
football-prototype.iws
