{{> partials/header.html}}
<div class="container">
    <div class="row">
        {{#each model.teams}}
            <a href="/session/{{id}}">
                <div class="col-md-3 col-md-offset-2 centered">
                </div>
            </a>
        {{/each}}
    </div><!--/row-->
</div><!--/container-->

</body>
</html>
