{{> partials/header.html}}
{{> partials/navigation.html}}
{{> partials/sidebar.html}}
{{> partials/topbar.html}}
<section id="content" class="table-layout animated fadeIn">
    <!-- begin: .tray-center -->
    <div class="tray tray-center">
            <!-- Calendar Widget -->
            <div class="panel panel-widget calendar-widget calendar-alt" id="p02">
                <div class="panel-heading">
                    <span class="panel-icon">
                      <i class="fa fa-calendar-o"></i>
                    </span>
                    <span class="panel-title"> Calendar Widget</span>
                </div>
                <div class="panel-body bg-white p15">
                    <div id="calendar-widget"></div>
                </div>
            </div>
    </div>
</section>
{{> partials/footer.html}}
<script>
    // Init plugins for ".calendar-widget"
    // plugins: FullCalendar

    jQuery(document).ready(function() {
        $('#calendar-widget').fullCalendar({

        });
    });
</script>
</html>