<html>
<head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="/assets/theme.css" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>HighChart Test</title>
</head>
<body>
<h1>Graph Test</h1>
<p>This is a WIP highchart test</p>
<p>{{model}}</p>
<div class="col-sm-4 col-xl-3">
    <div class="panel panel-tile text-center br-a br-grey">
        <div class="panel-body">
            {{#each highestRating}}
            <h1 class="fs30 mt5 mbn">{{this}}</h1>
            <h6 class="text-success">Highest Average Rating</h6>
        </div>
        <div class="panel-footer br-t p12">
                  <span class="fs11">
                    <i class="fa fa-arrow-up pr5"></i>
                    <b>{{@key}}</b>
                  </span>
        </div>
            {{/each}}
    </div>
</div>

<div id="container" style="width:100%; height:400px;"></div>
</body>
<script>
jQuery(document).ready(function() {

    var goals = 'goals';

    $(function() {
        var myChart = Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: null
            },
            xAxis: {
                categories: ['Match 1', 'Match 2', 'Match 3', 'Match 4', 'Match 5']
            },
            yAxis: {
                min: 0,
                tickInterval: 1,
                title: {
                    text: goals
                }
            },
            {{{model}}}
        });
    });

});
</script>
</html>