<!-----------------------------------------------------------------+
   "#sidebar_left" Helper Classes:
-------------------------------------------------------------------+
   * Positioning Classes:
    '.affix' - Sets Sidebar Left to the fixed position

   * Available Skin Classes:
     .sidebar-dark (default no class needed)
     .sidebar-light
     .sidebar-light.light
-------------------------------------------------------------------+
   Example: <aside id="sidebar_left" class="affix sidebar-light">
   Results: Fixed Left Sidebar with light/white background
------------------------------------------------------------------->

<!-- Start: Sidebar -->
<aside id="sidebar_left" class="nano nano-light affix">

    <!-- Start: Sidebar Left Content -->
    <div class="sidebar-left-content nano-content">
        <!-- End: Sidebar Header -->

        <!-- Start: Sidebar Menu -->
        <ul class="nav sidebar-menu">
            <li class="sidebar-label pt20">Menu</li>
            <li>
                <a href="/dashboard">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="sidebar-title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/fixtures">
                    <span class="fa fa-calendar"></span>
                    <span class="sidebar-title">Fixtures</span>
                </a>
            </li>
            <li>
                <a href="/players">
                    <span class="glyphicon glyphicon-book"></span>
                    <span class="sidebar-title">Players</span>
                </a>
            </li>
            <li>
                <a href="/teams">
                    <span class="glyphicon glyphicon-fire"></span>
                    <span class="sidebar-title">Teams</span>
                </a>
            </li>
            <li>
                <a href="/league">
                    <span class="glyphicon glyphicon-signal"></span>
                    <span class="sidebar-title">League</span>
                </a>
            </li>
            <li class="sidebar-label pt20">Admin</li>
            <li>
                <a href="/login">
                    <span class="fa fa-sign-in"></span>
                    <span class="sidebar-title">Login</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <span class="fa fa-sign-out"></span>
                    <span class="sidebar-title">Logout</span>
                </a>
            </li>

        </ul>
        <!-- End: Sidebar Menu -->

        <!-- Start: Sidebar Collapse Button -->
        <div class="sidebar-toggle-mini">
            <a href="#">
                <span class="fa fa-sign-out"></span>
            </a>
        </div>
        <!-- End: Sidebar Collapse Button -->

    </div>
    <!-- End: Sidebar Left Content -->

</aside>
<!-- End: Sidebar Left -->
