<!-- Start: Main -->
<script>
    function getCookie(name) {
        const value = "; " + document.cookie;
        const parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    }
    let userName = getCookie('name');
    if (userName) {
        userName = userName.replace('+', ' ');

        function toTitleCase(str) {
            return str.replace(/\w\S*/g, function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        }

        userName = toTitleCase(userName);
    }

</script>
<div id="main">

    <!-----------------------------------------------------------------+
       ".navbar" Helper Classes:
    -------------------------------------------------------------------+
       * Positioning Classes:
        '.navbar-static-top' - Static top positioned navbar
        '.navbar-static-top' - Fixed top positioned navbar

       * Available Skin Classes:
         .bg-dark    .bg-primary   .bg-success
         .bg-info    .bg-warning   .bg-danger
         .bg-alert   .bg-system
    -------------------------------------------------------------------+
      Example: <header class="navbar navbar-fixed-top bg-primary">
      Results: Fixed top navbar with blue background
    ------------------------------------------------------------------->

    <!-- Start: Header -->
    <header class="navbar navbar-fixed-top navbar-shadow">
        <div class="navbar-branding">
            <a class="navbar-brand" href="/">
                <b>5-a-side</b> Stats
            </a>
        </div>
        <form class="navbar-form navbar-left navbar-search alt hidden-sm hidden-xs" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search..." value="Search...">
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown menu-merge">
                <script>if (userName == null) {
                    document.write('<a href="/login" class="fw600 p15">Login</a>');
                } else {
                    document.write('<p class="fw600 p15">' + userName + '</p>');
                }
                </script>
                <span class="caret caret-tp hidden-xs"></span>
            </li>
        </ul>
    </header>
    <!-- End: Header -->